aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1727779797566/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1732780184679/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1728935693959/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1730974670620/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1722977137225/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560556141/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1728479282467/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
discord.py @ file:///home/conda/feedstock_root/build_artifacts/discord.py_1691711949357/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1729699477231/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1724778349782/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
jiter @ file:///home/conda/feedstock_root/build_artifacts/jiter_1732672309044/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1729065475820/work
openai @ file:///home/conda/feedstock_root/build_artifacts/openai_1732744687671/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1728545773824/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1732689372589/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/pydantic-core_1732253908523/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv-split_1706018097647/work
redis @ file:///home/conda/feedstock_root/build_artifacts/redis-py_1729802897891/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1708952932303/work
spotipy @ file:///home/conda/feedstock_root/build_artifacts/spotipy_1681113496836/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1732497199771/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1726496430923/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1732220864513/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1731262100163/work
zstandard==0.23.0
